.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-flex-end {
  justify-content: flex-end;
}

.align-left {
  justify-slef: flex-end;
}