@import './navbar.css';
@import 'apps/missKeep/cmps/note.css';
@import 'apps/missKeep/cmps/note-search.css';
@import 'fonts.css';
@import 'apps/missKeep/cmps/add-note.css';
* {
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(195, 195, 195);
}