.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(196, 196, 196);
  height: 60px;
}

.navbar-title {
  margin: 0;
  margin-left: 10px;
  font-size: 1.4rem;
  text-decoration: none;
}

.navbar span {
  margin-left: 20px;
}
.nav-img {
  width: 50px;
}

.router-link-active {
  color: rgb(0, 89, 255);
}

.nav-links {
  margin-left: auto;
  font-size: 1rem;
}

.nav-links a {
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}