.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 .8em rgba(0, 0, 0, 0.7);
    height: 85px;
}

.logo {
    width: 10rem;
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
}

.navbar span {
    margin-left: 20px;
}

.nav-img {
    width: 50px;
}

.nav-links {
    margin-left: auto;
    font-size: 1rem;
}

.nav-links a {
    margin-right: 20px;
    color: #05668D;
    font-size: 1.4rem;
    font-weight: bold; 
    transition: .3s;
    border-bottom: 2px solid white;
}

.nav-links a:hover {
    border-bottom: 2px solid #02C39A;
    color: #02C39A;
}

.hamburger-menu {
    position: absolute;
    visibility: hidden;
}

.mobile-nav-logo {
    display: none
}

@media (max-width: 720px) {
    .mobile-nav-logo {
        display: block
    }

    .nav-links {
        flex-direction: column;
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        background-color: #F0F3BD;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        transition: .4s;
    }
    
    .nav-links a:not(:first-child) {
        margin: 20px;
    }

    .nav-links>a {
        padding: 20px 0;
        font-size: 2rem;
        font-weight: bold;
        transition: .3s;
        border-bottom: 3px solid #F0F3BD;
    }
    
    .nav-links>a:hover {
        color: #028090;
        border-bottom: 3px solid #028090;
    }

    .menu-open {
        transform: translate(0, 0);
        box-shadow: 0 0 .4em rgba(0, 0, 0, 0.7);
    }
    
    .hamburger-menu {
        background-color: transparent;
        z-index: 2;
        position: absolute;
        left: 86%;
        visibility: visible;
        width: 40px;
        transition: .5s;
    }
    
    .hamburger-menu:hover {
        cursor: pointer;
        transform: rotate(270deg);
    } 
}