.emails-search {
  width: 300px;
  padding: 10px;
  border: none;
  transition: .1s;
}

.emails-search-btn {
  padding: 10px 15px;
  border: none;
  color: #fff;
  background-color: #05668D;
  border-radius: 3px;
  transition: .3s;
}

.emails-search-btn:hover {
  cursor: pointer;
  background-color: rgb(58, 143, 177);
}

@media only screen and (width: 910px) {
  .emails-search-container {
    display: flex;
    flex-direction:column;
    background: #000;
  }

  .emails-search-btn {
    width: 500px;
  }
}