
.extended-preview {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
}

.extended-preview>* {
  padding: 5px;
}

.subject {
  width: 100%;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 5px;
}

.subject span:not(.trash-icon) {
  margin-left: 5px
}

.subject span {
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 25px;
  font-size: 1rem;
  transition: .3s;
}

.subject span:hover {
  background-color: rgb(153, 153, 153);
}

.expand-link {
  font-size: 1rem;
}

.trash-icon {
  margin-left: auto;
}

.from {
  font-weight: bold;
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.from-email {
  color: rgb(41, 41, 41);
  margin-left: 5px;
  font-weight: 100;
}

.body {
  width: 90%;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  line-height: 1.1rem;
}