.email-navbar {
  font-family: lato, sans-serif;
  width: 25%;
  text-align: center;
  margin-top: 20px;
}

.email-navbar .compose {
  align-self: center;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  transition: .3s;
}

.email-navbar .compose:hover {
  cursor: pointer;
  padding: 5px 30px;
  background-color: rgba(153, 174, 245, 0.808);
  color: rgb(38, 63, 143);
  font-weight: bold;
}

.email-navbar .index {
  width: 100%;
  align-self: center;
  margin: 2.5px;
  padding: 5px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: .3s;
}

.email-navbar .index:hover {
  background-color: rgba(255, 194, 194, 0.808);
  color: rgb(206, 65, 65);
  font-weight: bold;
  cursor: pointer;
}

.email-navbar .index-link {
  text-decoration: none;
  color: black;
}

.email-navbar .starred:hover {
  cursor: pointer;
}

.email-navbar .starred span:hover {
  color: rgb(204, 167, 4)
}