.email-filters-list {
    width: 73%;
    margin: 0 auto;
}

.filters {
  margin-top: 10px;
  font-size: 1rem;
}

.email-app {
  background-color: #F0F3BD;
}

@media only screen and (max-width: 910px) {
  .email-app {
    flex-direction: column;
  }

  .child-navbar {
    margin: 0 auto;
  }
  
  .filters {
    flex-direction: column;
    align-items: center;
    background-color: none;
  }

  .filters>* {
    margin: 5px;
  }

  .emails-search {
    width: 200px;
  }

}