.button {
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(196, 196, 196);
}

.button:hover {
    background-color: burlywood;
}

.editing {
    background-color: coral;
}

.clicked {
    background-color: coral;
}