.notes-container {
    margin: 0 auto;
}

.notes {
    background: url(../../../../img/bg6.jpg) no-repeat center center fixed;
    background-size: cover;
}

.note {
    padding: 10px;
    /* width: 20rem; */
    margin: 10px;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 5px;
    background-color: aliceblue;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}


/* .notes-container ul {} */

.notes ul {
    list-style-type: none;
    padding: 0;
    margin: 0.8rem auto;
    width: 90%;
    /* justify-content: center; */
    column-count: 5;
    column-width: 300px;
}

.note input {
    /* display: block; */
    width: 85%;
    max-width: 500px;
    text-align: center;
    margin: 0 5px 10px;
}

.note:hover {
    border-color: #05668D;
}

.note-img-cmp>img {
    width: 250px;
}