.notes-container {
    margin: 0 auto;
}

.note {
    padding: 10px;
    width: 25rem;
    margin: 5px;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 5px;
}


/* .notes-container ul {} */

.notes ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
}

.note input {
    /* display: block; */
    width: 85%;
    max-width: 500px;
    text-align: center;
    margin: 0 5px 10px;
}

.note:hover {
    border-color: rgb(255, 0, 0);
}

.note-img-cmp>img {
    width: 250px;
}